---
sudo: false
language: rust
rust:
  - 1.3.0
  - stable
  - nightly
  - beta

matrix:
  allow_failures:
    - rust: 1.3.0
    - rust: stable
    - rust: beta

install:
  - brew install sdl2

os:
  - osx

branches:
  only:
    - master
    - algo

env:
  - ARCH=x86_64
  - ARCH=i686

script:
  - cargo build
  - cargo test

addons:
  apt:
    packages:
      - gcc-multilib
